<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CartoonPedia</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
<header>

  <nav>
    <img src="/images/.svg">
    <a href="/" <%- title==='Home' ? 'class="active"' : '' %>> Home </a>
    <a href="/characters" <%- title==='All Characters' ? 'class="active"' : '' %>> ALL Characters</a>
    <a href="/episodes" <%- title==='All Episodes' ? 'class="active"' : '' %>> ALL Episodes</a>
    <% if (user) { %>
      <a href="/episodes/new" <%- title==='Add episodes' ? 'class="active"' : '' %>>ADD Episodes</a>
      <a href="/characters/new" <%- title==='Add Characters' ? 'class="active"' : '' %>>ADD Characters</a>
      <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
  </nav>
</header>
