<!DOCTYPE html>
<html>
  <head>
    <title><%= CartoonPedia %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <h1><%= CartoonPedia %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/footer') %>
  </body>
</html>
