<%- include('../partials/header') %>

  <h2>
    <%= character.name %> - Character Profile
  </h2>
  <img src="<%= character.image %>" alt="<%= character.name %> Image">
  <p>
    <%= character.biography %>
  </p>
  <h3>Superpowers</h3>
  <ul>
    <% character.superpowers.forEach(function(superpower) { %>
      <li>
        <%= superpower %>
      </li>
      <% }); %>
  </ul>
  <h4>Famous Quotes</h4>
  <ul>
    <% character.famousQuotes.forEach(function(quote) { %>
      <li>
        <%= quote %>
      </li>
      <% }); %>
  </ul>
<h2>Episodes featuring <%= character.name %></h2>
<ul>
  <% episodes.forEach(function(episode) { %>
    <li><a href="/episodes/<%= episode._id %>">
        <%= episode.title %>
      </a></li>
    <% }); %>
</ul>
  <% if (user) {  %>
    <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
    </form>
    <a href="/characters/<%= character._id %>/edit">Edit</a>
  <% }; %>


    <%- include('../partials/footer') %>
